
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
